sync {
    default.rsync,
    source = "/home/ak/projekte/radbod/dist/",
    target = "/home/ak/projekte/create-radbod-project/iso-strapi-tail-mdb/src/deps/",
    rsync = {
      binary = "/usr/bin/rsync",
      archive = "true",
      _extra = {
        "--include=radbod.js",
        "--exclude=*"
      }
    }
}
