<template language="js-template">
    <header class="header">
        <h1>todos ${todo.name}</h1>
        <input class="new-todo" data-name="/$todo/name" data-id="todo-myinput" placeholder="What needs to be done?"
            autofocus />
    </header>

    <span> hier ist nochmal der name ${todo.name} </span>
    <div data-name="/$todo/name"></div>

    <section class="main">

        <label for="toggle-all">
            <input id="toggle-all" data-events="toggle:click" class="toggle-all" type="checkbox" data-name="/$todo/items" />
            Mark all as complete</label>

        <div id="all" class="tab selected">
            <h3>All</h3>
            <ul class="todo-list" data-name="/$todo/items" data-view="todo-list">
                ...loading...
            </ul>
        </div>

        <div id="active" class="tab">
            <h3>active</h3>
            <ul class="todo-list" data-name="/$todo/items" data-view="todo-list-active">
            </ul>
        </div>

        <div id="completed" class="tab">
            <h3>completed</h3>
            <ul class="todo-list" data-name="/$todo/items" data-view="todo-list-completed">
            </ul>
        </div>

        <footer class="footer">
            <span class="todo-count" data-name="/$todo/tab" ><strong data-name="/$todo/items" data-view="count"></strong></span>
            <ul class="filters">
                <li>
                    <a href="#/all" data-events="tab:click" class="selected">All</a>
                </li>
                <li>
                    <a href="#/active" data-events="tab:click">Active</a>
                </li>
                <li>
                    <a href="#/completed" data-events="tab:click">Completed</a>
                </li>
            </ul>
            <button class="clear-completed">Clear completed</button>
        </footer>
    </section>
</template>

<style language="scss">
    input.toggle {
        vertical-align: middle;
    }

    button.destroy {
        color: crimson;
        font-weight: 900;
        padding: 0;
    }

    li.todo-item {
        list-style: decimal;
    }

    .tab {
        display: none;
    }

    .tab.selected {
        display: block;
    } 

    .filters li {
        display: inline;
    }

    .filters li a {
        color: inherit;
        margin: 3px;
        padding: 3px 7px;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .filters li a:hover {
        border-color: rgba(175, 47, 47, 0.1);
    }

    .filters li a.selected {
        border-color: rgba(175, 47, 47, 0.2);
    }

</style>

<script language="js">
    /**
     * @TODO
     * 
     * form validation geht nicht richtig
     * 
     **/
    export let todo = {
        views: {
            "count": function(args){
                switch (args.todo.tab) {
                    case "all": return args.todo.items.filter((i) => i).length;
                    case "active": return args.todo.items.filter((i) => !i.checked).length;
                    case "completed": return args.todo.items.filter((i) => i.checked).length;
                }
            },
            "todo-list": function (args) {
                let { change, todo, _t } = args;
                return `<li data-name="/$todo/items/${change.value.id}" data-type="list-item" class="todo-item">
                    <input class="toggle" ${change.value.checked ? `checked` : ``} type="checkbox" data-name="/$todo/clickItem" data-index="${change.value.id}" />
                    <label contenteditable="true" data-events="name:input" data-index="${change.value.id}" data-name="/$todo/items/${change.value.id}">${change.value.label}</label>
                    <button class="destroy" data-name="/$todo/deleteItem" data-index="${change.value.id}">&#10007;</button>
                </li>`;
            },
            "todo-list-active": function (args) {
                let { change, todo, _t } = args;
                return !change.value.checked ? this.dom.views["todo-list"].call(this, args) : "";
            },
            "todo-list-completed": function (args) {
                let { change, todo, _t } = args;
                return change.value.checked ? this.dom.views["todo-list"].call(this, args) : "";
            }

        },
        data(dataReady) {

            return this.createStore("todo", {}).find({ id: 1 }, function (data) {

                console.log("LOAD DATA todo", data);
                if (typeof dataReady === "function")
                    dataReady(data);

            });

        },
        interactions() {
            return {
                "tab": {
                    "click"(sender, dataStore) {
                        sender.ev.preventDefault();
                        let tabName = sender.field.$el.getAttribute("href").split("/")[1];
                        let tab = document.querySelector('#' + tabName);
                        document.querySelectorAll(".tab").forEach(e => e.classList.remove("selected"));
                        tab.classList.add("selected");

                        document.querySelectorAll(".filters li a").forEach(e => e.classList.remove("selected"));
                        dataStore.tab = tabName;
                        sender.field.$el.classList.add("selected");
                    }
                },
                "/$todo/clickItem": {
                    "click"(sender, dataStore) { //address specific element in dom
                        let index = parseInt(sender.field.$el.getAttribute("data-index"));
                        dataStore.items.some((v, k) => {
                            if (v.id == index) {
                                dataStore.items[k].checked = !dataStore.items[k].checked;
                                return true;
                            }
                        });
                    }
                },
                "name": {
                    "input"(sender, dataStore) {
                        let index = parseInt(sender.field.$el.getAttribute("data-index"));
                        for (let k in dataStore.items) {
                            let v = dataStore.items[k];
                            if (v.id == index) {
                                dataStore.items[k].label = sender.field.$el.innerText;
                            }
                        }
                    }
                },
                "/$todo/deleteItem": {
                    "click"(sender, dataStore) { //address specific element in dom
                        let index = parseInt(sender.field.$el.getAttribute("data-index"));
                        dataStore.items.some((v, k) => {
                            if (v.id == index) {
                                delete dataStore.items[k];
                                return true;
                            }
                        });
                    }
                },
                "toggle": {
                    "click"(sender, dataStore) {
                        dataStore.checked = !dataStore.checked;
                        dataStore.items.forEach((i) => i.checked = dataStore.checked);
                    }
                },
                "/$todo/items": {
                    "change"(sender, dataStore) {
                         console.log(dataStore);
                    }
                },
                "/$todo/name": {
                    "keyup#todo-myinput"(sender, dataStore) { //address specific element in dom
                        dataStore.name = sender.field.getValue();

                        if (sender.ev.keyCode === 13) {
                            dataStore.items.push({
                                id: dataStore.items.length,
                                label: dataStore.name,
                                checked: false
                            });
                        }
                    }
                }
            }
        }

    }

</script>