<template language="js-template">
    <header class="header">
        <h1>todos ${todo.name}</h1>
        <input class="new-todo" data-name="/$todo/name" data-id="todo-myinput" placeholder="What needs to be done?" autofocus />
    </header>

    <span> hier ist nochmal der name ${todo.name} </span>
    <div data-name="/$todo/name"></div>

    <section class="main">
       
        <label for="toggle-all">
            <input id="toggle-all" data-id="toggle-all" class="toggle-all"
            type="checkbox" data-name="/$todo/items" />
            Mark all as complete</label>

        <ul class="todo-list" data-name="/$todo/items" data-view="todo-list">
         ...loading...
        </ul>

        <footer class="footer">
            <span class="todo-count"></span>
            <ul class="filters">
                <li>
                    <a href="#/" class="selected">All</a>
                </li>
                <li>
                    <a href="#/active">Active</a>
                </li>
                <li>
                    <a href="#/completed">Completed</a>
                </li>
            </ul>
            <button class="clear-completed">Clear completed</button>
        </footer>
    </section>
</template>

<style language="scss">


</style>

<script language="js">
 
    export let todo = {
        views: { 
            "todo-list": function (args){
                let {change, todo, _t} = args;
                return `
                <li data-name="/$todo/items/${change.value.id}" data-type="list-item">
                    <input class="toggle" ${change.value.checked?`checked`:``} type="checkbox" />
                    <label data-name="/$todo/items/${change.value.id}">${change.value.label}</label>
                    <button class="destroy" data-name="/$todo/deleteItem" data-index="${change.value.id}"></button>
                </li>`;
            }},
        data(dataReady){ 
            
            return this.createStore("todo", { }).find({id: 1}, function(data){
                
                console.log("LOAD DATA todo", data);
                if(typeof dataReady ==="function")
                     dataReady(data);
                 
            });
          
         },
        interactions(){
            return {
                "/$todo/deleteItem" :{
                    "click"(sender, dataStore) { //address specific element in dom
                        let index = parseInt(sender.field.$el.getAttribute("data-index"));
                        dataStore.items.some((v,k)=> {
                            if(v.id == index) {
                                delete dataStore.items[k];
                                return true;
                            }
                        });
                    }
                },
                "/$todo/items" : {
                    "click#toggle-all"(sender, dataStore) { 
                        alert("");
                    }
                },
                
                "/$todo/name" : {
                    "keyup#todo-myinput"(sender, dataStore) { //address specific element in dom
                        dataStore.name = sender.field.getValue();

                        if(sender.ev.keyCode === 13){
                            dataStore.items.push({
                                id: dataStore.items.length,
                                label: dataStore.name,
                                checked: false
                            });
                        }
                    }
                }
            }
        }

    }

</script>