<template language="js-template">
    <ul>
        <li> <a href="/home" class="${topmenu.hallo}" data-name="link">home</a></li>
        <li> <a href="/form" class="" data-name="link">form</a></li>
    </ul>
</template>

<style language="scss">

</style>

<script language="js">
    export let topmenu = {
        data(data, runtime){
            console.log(this);
            return this.createStore("topmenu", { 
                path : "runtime.path"
            })
        },
        interactions(){
            return {}
        }
    }
</script>