<template language="js-template">
    <div id="cssmenu">
        <ul data-name="/$breadcrumb/path" data-view="item">
        </ul>
    </div>
</template>

<style language="scss">
    /* Menu container */
    #cssmenu {
        left: var(--page-header-width);
        width: calc(100% - var(--page-header-width));
        display: flex;
        position: relative;
        font-size: 14px;
        line-height: 1em;
        border-radius: 2px;


        /* Icons */


        /* Menu */
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul li:not(:last-child):after {
            content: "––>"
        }

        /* Menu items */
        ul li a {
            display: inline-block;
            font-weight: 600;
            padding: 6px;
            margin-bottom: 1em;
            text-decoration: none;
            text-transform: uppercase;
        }

        ul li:last-child {
            color: gray;
        }

        /* Hover event */
        ul li:hover a {
            color: #297EFE;
        }

    }
</style>

<script language="js">

    export let breadcrumb = {
        views: {
            "item": function (args) {
                let { change, breadcrumb, _t, env } = args;
                return `<li data-name="/$breadcrumb/path/${change.value.id}" data-type="list-item"><a data-events="blink:click" href="${change.value.url}">${change.value.name}</a></li>`;
            } 
        },
        lazyLoading: true,

        loaded(data) { //pipeline after data has been loaded

        },
        data(data, runtime) {
            return this.createStore("breadcrumb", { path: [{ name: "Aufträge", url: "/backend/tasklist" }] })
        },
        interactions: () => ({
            "blink": {
                "click"(sender, dataStore) {
                    sender.ev.preventDefault();
                    let url = sender.field.$el.getAttribute("href");
                    buildApp.loadPage(url, () => {
                        console.log(arguments);
                    });
                    

                }
            }
        })
    }
</script>