<template language="js-template">
    <navgation>
        <div class="logo"><img src="/img/topmenu/logo_serialtexter.png" alt="no image" /></div>
        <ul id="menu">
            <li data-name="/$topmenu/link"><a href="${env.view.url('start')}"
                    class="${env.view.isActive('/start')}">start</a></li>
            <li data-name="/$topmenu/link"><a href="${env.view.url('login')}"
                    class="${env.view.isActive('/login')}">login</a></li>
            <li data-name="/$topmenu/link"><a href="${env.view.url('register')}"
                    class="${ env.view.isActive('/register') }">registrieren</a></li>
            <li data-name="/$topmenu/link"><a href="${env.view.url('blog')}"
                    class="${env.view.isActive('/blog')}">blog</a></li>
        </ul>
    </navgation>
</template>

<style language="scss">
    navgation {
        display: flex;
        justify-content: space-between;

        .logo {
            width: 15em;
        }
   
        #menu {
            z-index: 2;
            position: absolute;
            width: 100%;
            display: none;
            background: white;
            list-style-type: none;
            top: 0;
            margin: 0;
            padding: 0;
        }
        
        #menu li {
            display: block;
            line-height: 50px;
            text-align: center;
        }

        #menu a {
            color: #999;
        }

        #menu a:hover {
            text-decoration: none;
            color: #0076d1;
        }

        #menu a.active {
            color: #0076d1;
            font-weight: 500;
        }

        @media only screen and (max-width: 768px) {

            .logo{
                display:none;
            }
            #menu {
                display: flex;
                padding: 0;
                margin: 0;
                font-size: 1.5em;
                left: 0;
                right: 0;
                justify-content: center;
                position: fixed;
                box-shadow: 0 1px 8px black;

                li {
                    display: flex;
                    line-height: 50px;
                    flex-grow: 1;
                    flex-flow: column;
                    text-align: center;
                }
            }
        }

        @media only screen and (min-width: 768px) {
           
            #menu {
                display: flex;
                position: static;
                background: none;
                clear: none;
                flex: 1;
                justify-content: flex-end;
            }
 
            #menu li {
                padding: 0 1em;
            }
        }
    }
</style>

<script language="js">

    export let topmenu = {
        loaded(data) { //pipeline after data has been loaded

        },
        data(data, runtime) {
            return this.createStore("topmenu", {
                link: "runtime.path"
            })
        },
        interactions: () => ({ 
            "/$topmenu/link": {
                "click"(sender, dataStore) {
                    sender.ev.preventDefault();

                    buildApp.loadPage(sender.field.$el.firstChild.getAttribute("href"), () => {
                        dataStore.link = sender.field.$el.firstChild.getAttribute("href");
                    });

                }
            }
        })
    }
</script>